<!DOCTYPE html>
<html lang="pl">
<body>
<p>
    Brak nadchodzących świąt dla których możnaby wygenerować post w dniach: {{from}} - {{to}}
</p>
    <a href="https://2dnjfgyp1b.execute-api.eu-west-1.amazonaws.com/prod/">Wygeneruj posty</a>
</html>
