<!DOCTYPE html>
<html lang="pl">
<body>
        Nadchodzące święta:
    <ul>
       {{#.}}
                   <li>
                       W dniu {{date}} obchodzimy: {{name}}
                    </li>
       {{/.}}
    </ul>

    <a href="https://2dnjfgyp1b.execute-api.eu-west-1.amazonaws.com/prod/">Wygeneruj posty</a>
</html>
